/*INICIO DE GRILLA grid0 INDEX*/
.grid0 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "quienesSomos quienesSomos" "mision vision" "juntaDirectiva juntaDirectiva";
  font-family: sans-serif;
  font-size: 25px;
  margin-right: 13%;
  margin-left: 13%;
  border: solid 2px;
  margin-bottom: 0%;
  border: none; }

.quienesSomos {
  grid-area: quienesSomos;
  border-bottom: solid;
  padding-top: 5%;
  padding-bottom: 8%;
  background-color: #004085;
  color: white; }

.parrafoQuienes {
  margin: 2px;
  line-height: 1.8;
  font-size: 15px;
  font-family: sans-serif;
  margin-left: 3%;
  margin-right: 3%;
  color: white; }

.parrafoMision,
.parrafoVision {
  margin: 2px;
  line-height: 1.8;
  font-size: 15px;
  font-family: sans-serif;
  margin-left: 3%;
  color: white; }

.mision {
  grid-area: mision;
  line-height: 1.8;
  font-size: 15px;
  font-family: sans-serif;
  border-right: solid;
  background-color: #004085;
  color: white;
  border: none;
  padding-top: 40px;
  padding-bottom: 60px; }

.vision {
  grid-area: vision;
  background-color: #004085;
  line-height: 1.8;
  font-size: 15px;
  font-family: sans-serif;
  color: white;
  border-color: black;
  padding-top: 40px;
  padding-bottom: 60px; }

.juntaDirectiva {
  grid-area: juntaDirectiva;
  border-top: solid;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #004085;
  line-height: 1.8;
  font-size: 15px;
  font-family: sans-serif;
  color: white;
  margin-bottom: 10%; }

/*FIN DE GRILLA*/
/*FOOTER*/
.containerFooter {
  display: grid;
  padding: 3%;
  font-family: sans-serif;
  line-height: 2em;
  font-size: 1rem;
  text-align: center;
  color: white;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  background-image: url(../img/banner-g7682c597f_1920.jpg);
  background-color: #487498;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "datosFooter infoFooter"; }

.datosFooter {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "asociacion" "medianas" "nit" "neiva";
  grid-area: datosFooter; }

.asociacion {
  grid-area: asociacion; }

.medianas {
  grid-area: medianas; }

.nit {
  grid-area: nit; }

.neiva {
  grid-area: neiva; }

.infoFooter {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "correo" "www" "numero" "direccion";
  grid-area: infoFooter; }

.correo {
  grid-area: correo; }

.www {
  grid-area: www; }

.numero {
  grid-area: numero; }

.direccion {
  grid-area: direccion; }

/*FIN FOOTER*/
/*BENEFICIOS*/
.containerBeneficios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  font-family: sans-serif;
  font-size: 15px;
  margin-right: 13%;
  margin-left: 13%;
  border: solid 2px;
  padding-bottom: 5%;
  padding-top: 7%;
  border: none;
  background-color: #004085;
  color: white;
  grid-auto-flow: row;
  grid-template-areas: "BENEFICIOS-PARA-SOCIOS" "primero" "segundo" "tercero" "cuarto" "quinto" "sexto" "septimo" "octavo" "noveno" "decimo"; }

.BENEFICIOS-PARA-SOCIOS {
  grid-area: BENEFICIOS-PARA-SOCIOS;
  text-align: center;
  font-size: 40px; }

.primero {
  grid-area: primero;
  margin-left: 3%;
  margin-right: 3%; }

.segundo {
  grid-area: segundo;
  margin-left: 3%;
  margin-right: 3%; }

.tercero {
  grid-area: tercero;
  margin-left: 3%;
  margin-right: 3%; }

.cuarto {
  grid-area: cuarto;
  margin-left: 3%;
  margin-right: 3%; }

.quinto {
  grid-area: quinto;
  margin-left: 3%;
  margin-right: 3%; }

.sexto {
  grid-area: sexto;
  margin-left: 3%;
  margin-right: 3%; }

.septimo {
  grid-area: septimo;
  margin-left: 3%;
  margin-right: 3%; }

.octavo {
  grid-area: octavo;
  margin-left: 3%;
  margin-right: 3%; }

.noveno {
  grid-area: noveno;
  margin-left: 3%;
  margin-right: 3%; }

.decimo {
  grid-area: decimo;
  margin-left: 3%;
  margin-right: 3%; }

/*FIN BENEFICIOS*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 65.5%; }

.img {
  max-width: 100%; }

header {
  background-color: gray; }

main {
  background-image: url(../img/handshake-g8cd0dd8fa_1920.jpg);
  background-size: cover;
  padding-bottom: 5%;
  padding-top: 5%; }

.logoPrincipal {
  height: 80px; }

.nav-item {
  font-family: sans-serif;
  font-size: 15px;
  width: 100%;
  justify-content: center;
  display: flex;
  color: gray; }

.beneficios {
  font-family: sans-serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 35px;
  font-size: 30px; }

.infoPagina {
  padding: 0%;
  width: 100%;
  height: 140px; }

.derechos {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 13px; }

.colorBlue {
  color: #2e2eab; }

.letraBeneficios {
  line-height: 1.8;
  font-size: 15px;
  font-family: sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  list-style-type: decimal;
  margin-bottom: 30px; }

h1 {
  display: flex;
  justify-content: center;
  color: white; }

h2 {
  display: flex;
  justify-content: center;
  color: white; }

.letraBeneficios {
  line-height: 1.8;
  font-size: 15px;
  font-family: sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  list-style-type: decimal;
  margin-bottom: 30px; }

.tituloBeneficios {
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 35px;
  font-size: 30px; }

.afiliacionCaracteristicas {
  font-family: sans-serif;
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 15px;
  margin-left: 3%;
  margin-right: 15%;
  list-style-type: decimal;
  background-color: #004085;
  color: white; 
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 4%;}

.afiliacion {
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 40px;
  font-size: 30px; }

.parrafo {
  line-height: 1.8;
  font-size: 15px;
  font-family: sans-serif;
  margin-left: 3%;
  margin-right: 15%;
  background-color: #004085;
  color: white; }

.parrafoAfiliacion {
  line-height: 1.8;
  font-size: 15px;
  font-family: sans-serif;
  margin-left: 3%;
  margin-right: 15%;
  background-color: #004085;
  color: white; 
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;}
  

.tablaFormulario {
  line-height: 1.8;
  font-size: 15px;
  font-family: sans-serif;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #004085;
  color: white;
  text-align: center;
  background-color: #004085;
  color: white; }

.formulario {
  margin-top: 100px;
  margin-bottom: 40px;
  line-height: 1.8;
  font-size: 15px;
  font-family: sans-serif;
  margin-left: 30%;
  margin-right: 30%; }

.formularioLetra {
  font-size: 18px;
  font-family: sans-serif;
  margin-bottom: 15%;
  margin-top: 100px;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 10%; }

.eventos {
  font-family: sans-serif;
  text-align: center;
  font-size: 50px;
  padding-top: 8%;
  padding-bottom: 5%; }

.paginaConstruccion1 {
  position: center;
  display: flex;
  justify-content: center;
  size: 100%;
  height: 500px;
  width: 500px;
  margin-left: 20%;
  margin-right: 15%;
  padding-bottom: 5%; }

.asociados {
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 100px;
  font-size: 30px; }

.logosSeccion {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around; }

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  align-content: space-between;
  padding-left: 15%;
  padding-right: 15%; }

.carrocerias {
  width: 300px;
  height: 200px;
  margin: 3%; }

.ksc {
  width: 300px;
  height: 200px;
  margin: 3%; }

.logistica {
  width: 300px;
  height: 200px;
  margin: 3%; }

.tdp {
  width: 300px;
  height: 200px;
  margin: 3%; }

.sunnyapp {
  width: 300px;
  height: 200px;
  margin: 3%; }

.herencia{
  width: 300px;
  height: 200px;
  margin: 3%; }

.bancodelx{
  width: 300px;
  height: 200px;
  margin: 3%; }

.maxillantas{
  width: 300px;
  height: 200px;
  margin: 3%; }
  
.opa{
  width: 300px;
  height: 200px;
  margin: 3%; }  

.frupys{
  width: 300px;
  height: 200px;
  margin: 3%; } 

.lob{
  width: 300px;
  height: 200px;
  margin: 3%; } 

.munoz{
  width: 300px;
  height: 200px;
  margin: 3%; } 

img.carrocerias:hover,
img.ksc:hover,
img.logistica:hover,
img.tdp:hover,
img.sunnyapp:hover, 
img.herencia:hover, 
img.bancodelx:hover, 
img.maxillantas:hover, 
img.opa:hover, 
img.frupys:hover, 
img.lob:hover, 
img.munoz:hover{
  transform: scale(1.3); }

/*FORMULARIO CONTACTO*/
.contactanos {
  text-align: center;
  font-family: sans-serif;
  font-size: 3em;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  color: #1e1ed6; }

.content {
  margin-bottom: 5%;
  color: white;
  padding: 0 1.5em;
  line-height: 1.6; }

.contactanosWrapper {
  box-shadow: 0 0 20px 0 #000a0f;
  margin-right: 20%;
  margin-left: 20%; }

.contactanosWrapper > * {
  padding: 2em;
  background-color: #549adc; }

.contactForm {
  background-color: #79a1ff;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
  text-align: center; 
}

.contactForm form {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.contactForm form label {
  display: block; }

.contactForm .block {
  grid-column: 1 / 3; }

.contactForm form p {
  margin: 0;
  padding: 2em; }

.comtactForm form button,
.contactForm form input,
.contactForm form textarea {
  width: 100%;
  padding: 2em;
  border: none;
  background: none;
  border-bottom: 1px solid black;
  outline: 0; }

.contactForm form button {
  background: blue;
  color: white;
  border: 0;
  text-transform: uppercase;
  padding: 1em; }

.contactInfo {
  background: grey; }

.contactInfo h2,
.contactInfo ul,
.contactInfo p {
  text-align: center;
  margin: 0 0 1rem 0; }

.contactInfo ul {
  list-style: none;
  padding: 0; }

.contactInfo ul li {
  padding: 3em; }

/*FIN FORMULARIO CONTACTO*/
.informacionAsociacion {
  background-color: #a6cdfd;
  font-size: 15px;
  margin: 5px;
  margin-bottom: 40px;
  font-family: sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  width: 400px; }

.informacionEspacio {
  margin: 2px; }

.locacion {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: center;
  padding-bottom: 10%; }

.informacionEspacio {
  margin: 2px; }

.main {
  margin-top: 5%;
  margin-bottom: 5%; }
